.titolo {
    font-size: 65px;
}
.width {
    width: 35%;
}
.w-student {
    width: 90%;
}
.bg-matu {
    background-color: #333333 ;
}
.w-matu {
    width: 43%;
}
.outline {
    border: solid 1px #6C757D ;   
}
.cerchio {
    text-align: center;
    background-color: black;
    border: solid 1px white;
    border-radius: 50px;
    width: 25px;
    position: relative;
    bottom: 32px;
    left: 10px;
}